html {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

/*header section */

.site-header {
    height: 69px;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    margin-left: 10px;
    vertical-align: middle;
    height: 50px;
    display: inline-flex;
    justify-content: flex-start;
}

.menu {
    list-style-type: none;
    display: inline-flex;
    column-gap: 25px;
    margin-right: 10px;
    text-decoration: underline;
}

/*cover section*/

.cover {
    position: relative;
    text-align: center;
}

.background-img {
    width: 1200px;
    height: 700px;
    /*display: block;
    margin: auto;
    position: absolute;
    background-color: black;*/
}

.cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    display: inline-block;
    width: 100%;
}
